<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="指輪,オーダーメイド,世界で一つ,宝石,結婚指輪,婚約指輪,MoonArt">
	<meta name="description" content="MoonArtでは、オーダーメイドで世界に一つだけの指輪を作ります。結婚指輪,婚約指輪,ネックレスなんでもご相談ください。">
	<meta name="author"      content="Daichi Miyajima">
	<meta property="og:title" content="MoonArt" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://moonart-craft.com" />
	<meta property="og:image" content="http://moonart-craft.com/public/image/moonart-craft.jpeg" />
	<meta property="og:site_name" content="MoonArt" />
	<meta property="og:description" content="MoonArtでは、オーダーメイドで世界に一つだけの指輪を作ります。結婚指輪,婚約指輪,ネックレスなんでもご相談ください。" />
	<title>MoonArt：オーダーメイドで世界に一つの指輪を作ります。（結婚指輪,婚約指輪,ネックレス含む）</title>
	<link rel="shortcut icon" href="../public/image/BlueMoon.png">
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="../public/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../public/assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="../public/assets/css/font.css">
	<link rel="stylesheet" href="../public/stylesheets/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="../public/assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="../public/assets/css/main.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<!-- sweet alert-->
	<script src="../public/javascripts/lib/dist/sweetalert.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../public/javascripts/lib/dist/sweetalert.css">
	<script src="../public/javascripts/commonhtml.js"></script>
	<script src="../public/javascripts/analyticstracking.js"></script>
</head>
<body class="home">	

<!-- Header -->
	<div id="header"></div>
<!-- /Header -->

	<div class="index">	
			<!-- application Form -->
			<div class="contactForm">
			<!-- container -->
			<div class="container">
			<div class="row">				
			<!-- Article main content -->
				<!-- Article main content -->
				<article id="notfacebook" class="col-sm-12 maincontent">
					<header class="page-header">
						<h1 class="page-title">Contact Form</h1>
					</header>
					<br>
							<div class="row">
								<div class="col-sm-8">
									<input class="form-control" type="text" placeholder="LastName(姓)" name="formNameLast" id="formNameLast">
								</div>
							</div>
							<br/>
							<div class="row">
								<div class="col-sm-8">
									<input class="form-control" type="text" placeholder="FirstName(名)" name="formName" id="formName">
								</div>
							</div>
							<br/>
							<div class="row">
								<div class="col-sm-8">
									<input class="form-control" type="text" placeholder="Email"  name="formEmail" id="formEmail">
								</div>
							</div>
							<br/>
							<div class="row">
								<div class="col-sm-8">
									<input class="form-control" type="text" placeholder="Phone" name="formPhone" id="formPhone">
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-sm-12">
									<textarea placeholder="問い合わせ内容を記載してください。" class="form-control" rows="9" name="formMessage" id="formMessage"></textarea>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-sm-12">
									<input id="sendMessage" class="btn btn-action" type="submit" value="Send message">
								</div>
							</div>
							<br>
				</article>
				<!-- /Article -->
			</div>
		</div>	
		<!-- /container -->
		</div>
		<!-- /application Form -->
		
		<section class="container-full top-space">
			<div id="map"></div>
		</section>

<!-- footer -->
	<div id="footer"></div>
<!-- /footer -->

	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="../public/assets/js/headroom.min.js"></script>
	<script src="../public/assets/js/jQuery.headroom.min.js"></script>
	<script src="../public/assets/js/template.js"></script>
	<script src="../public/javascripts/lib/animatedModal.min.js"></script>
	<script src="../public/javascripts/makeown.js"></script>
	<!-- Google Maps -->
	<script src="https://maps.googleapis.com/maps/api/js?key=&amp;sensor=false&amp;extension=.js"></script> 
	<script src="../public/assets/js/google-map.js"></script>
	<script type="text/javascript">
		writeHeader();
		writeFooter();
	</script>

</body>
</html>
