<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Daichi Miyajima">
	<meta property="og:title" content="MoonArt" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://moonart-craft.com" />
	<meta property="og:image" content="http://moonart-craft.com/public/image/BlueMoon-2.png" />
	<meta property="og:site_name" content="MoonArt" />
	<meta property="og:description" content="I'll make your only one jewelry." />
	<title>Moon Art</title>
	<link rel="shortcut icon" href="../public/image/BlueMoon.png">
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="../public/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../public/assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../public/assets/css/font.css">
	<link rel="stylesheet" href="../public/stylesheets/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="../public/assets/css/bootstrap-theme.css" media="screen" >
	
	<link rel="stylesheet" href="../public/assets/css/main.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<!-- sweet alert-->
	<script src="../public/javascripts/lib/dist/sweetalert.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../public/javascripts/lib/dist/sweetalert.css">
	<script src="../public/javascripts/commonhtml.js"></script>
	<style type="text/css">
		.form-control
		{
			font-size: 16px ;
		}
	</style>

</head>
<body class="home">	
<!-- Header -->
	<div id="header"></div>
<!-- /Header -->

	<div class="index">
			<!-- /Image_Ring -->
			<img src="../public/image/ring4.png" class="img-responsive　center-block" alt="...">
			
			<!-- /Application button -->
			<div class="container text-center">
			<h2 class=" top-space myFontClass">世界にひとつだけのJEWELRY</h2>
			
			<!-- Animation-start -->
			<div style="" class="youtube2">	
				<iframe id="html5fadef91cf63f6f3badd5118db4d859bb5bc53ec8c324" src="../html5/fadef91cf63f6f3badd5118db4d859bb5bc53ec8c324/responsive.html" width="100%" height="400" frameborder="0" scrolling="no" allowTransparency="true"></iframe>
			</div>
			<!-- Animation-end -->
			
			
			<!-- Highlights - jumbotron -->
			<div class="jumbotron top-space">
				<div class="container">
					<h3 class="text-center thin">Content of Moon Art</h3>
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12 highlight">
							<div class="h-caption"><h4><i class="fa fa-diamond fa-5"></i>List Of Work</h4></div>
								<div class="panel panel-default">
										<table class="table table-striped" style="font-size: 10px;text-align: left;">
											<tbody>
												<tr>
													<td style="white-space: nowrap;text-align: right;">オーダーメイド</td>
													<td>１からお客様と一緒に作成していきます。</td>
												</tr>
												<tr>
													<td style="white-space: nowrap;text-align: right;">リフォーム</td>
													<td>お客様のJewelryを要望通りにリフォームします。</td>
												</tr>
												<tr>
													<td style="white-space: nowrap;text-align: right;">リペアー</td>
													<td>１からお客様と一緒に作成していきます。</td>
												</tr>
												<tr>
													<td style="white-space: nowrap;text-align: right;">セリング</td>
													<td>既存商品の販売をしています。</td>
												</tr>
												<tr>
													<td style="white-space: nowrap;text-align: right;">etc.</td>
													<td>Jewelryに関わることでしたら、なんでも行います。</td>
												</tr>
											</tbody>
										</table>
								</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 highlight">
							<div class="h-caption"><h4><i class="fa fa-calendar fa-5"></i>Schedule</h4></div>
								<div class="panel panel-default">
										<table class="table table-striped" style="font-size: 10px;text-align: left;">
											<tbody>
												<tr>
													<td style="white-space: nowrap;text-align: right;">オーダーメイド</td>
													<td>2か月程度。作品によって異なりますので、随時相談させていただきます。</td>
												</tr>
												<tr>
													<td style="white-space: nowrap;text-align: right;">リフォーム</td>
													<td>1か月程度。</td>
												</tr>
												<tr>
													<td style="white-space: nowrap;text-align: right;">リペアー</td>
													<td>2週間程度。</td>
												</tr>
												<tr>
													<td style="white-space: nowrap;text-align: right;">セリング</td>
													<td>在庫があり次第即時</td>
												</tr>
												<tr>
													<td style="white-space: nowrap;text-align: right;">etc.</td>
													<td>-</td>
												</tr>
											</tbody>
										</table>
								</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 highlight">
							<div class="h-caption"><h4><i class="fa fa-euro fa-5"></i>Fee</h4></div>
								<div class="panel panel-default">
										<table class="table table-striped" style="font-size: 10px;text-align: left;">
											<tbody>
												<tr>
													<td style="white-space: nowrap;text-align: right;">オーダーメイド</td>
													<td>2か月程度。作品によって異なりますので、随時相談させていただきます。</td>
												</tr>
												<tr>
													<td style="white-space: nowrap;text-align: right;">リフォーム</td>
													<td>1か月程度。</td>
												</tr>
												<tr>
													<td style="white-space: nowrap;text-align: right;">リペアー</td>
													<td>2週間程度。</td>
												</tr>
												<tr>
													<td style="white-space: nowrap;text-align: right;">セリング</td>
													<td>在庫があり次第即時</td>
												</tr>
												<tr>
													<td style="white-space: nowrap;text-align: right;">etc.</td>
													<td>-</td>
												</tr>
											</tbody>
										</table>
								</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 highlight">
							<div class="h-caption"><h4><i class="fa fa-question fa-5"></i>How to</h4></div>
								<div class="panel panel-default">
										<table class="table table-striped" style="font-size: 10px;text-align: left;">
											<tbody>
												<tr>
													<td style="white-space: nowrap;text-align: right;">オーダーメイド</td>
													<td>2か月程度。作品によって異なりますので、随時相談させていただきます。</td>
												</tr>
												<tr>
													<td style="white-space: nowrap;text-align: right;">リフォーム</td>
													<td>1か月程度。</td>
												</tr>
												<tr>
													<td style="white-space: nowrap;text-align: right;">リペアー</td>
													<td>2週間程度。</td>
												</tr>
												<tr>
													<td style="white-space: nowrap;text-align: right;">セリング</td>
													<td>在庫があり次第即時</td>
												</tr>
												<tr>
													<td style="white-space: nowrap;text-align: right;">etc.</td>
													<td>-</td>
												</tr>
											</tbody>
										</table>
								</div>
						</div>
					</div><!-- /row  -->
				</div>
			</div>
			<!-- /Highlights -->
			<!-- container -->
			<!-- Intro -->
			<div class="container text-center">
			<br> <br>
			<h2 class="thin myFontClass">Policy</h2>
			<p class="text-muted myFontClass">
				ムーンアートでは、お客様に永遠に愛して頂けるJewelryを一つずつ丁寧に、オーナーの方のご要望にお応えできるよう、お求めやすい価格でお届けしたいと考えております。
				日本において宝石の歴史は新しいのですが、祖母から母へ、そして母から娘へと、末長く愛し満足してもらえるJewelryを作ることがMoonArtのポリシーです。
			</p>
		</div>
		<!-- /Intro-->
			</div>
		</div>

	<!-- Social links. @TODO: replace by link/instructions in template -->
	<section id="social">
		<div class="container">
			<div class="wrapper clearfix">
				<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style">
				<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
				<a class="addthis_button_tweet"></a>
				<a class="addthis_button_linkedin_counter"></a>
				<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
				</div>
				<!-- AddThis Button END -->
			</div>
		</div>
	</section>
	<!-- /social links -->

<!-- footer -->
	<div id="footer"></div>
<!-- /footer -->

	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="../public/assets/js/headroom.min.js"></script>
	<script src="../public/assets/js/jQuery.headroom.min.js"></script>
	<script src="../public/assets/js/template.js"></script>
	<script src="../public/javascripts/lib/animatedModal.min.js"></script>
	<script src="../public/javascripts/makeown.js"></script>
	<script src="../public/javascripts/facebook.js"></script>
	<script type="text/javascript">
		writeHeader();
		writeFooter();
	</script>
</body>
</html>
