<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="指輪,オーダーメイド,世界で一つ,宝石,結婚指輪,婚約指輪,MoonArt">
	<meta name="description" content="MoonArtでは、オーダーメイドで世界に一つだけの指輪を作ります。結婚指輪,婚約指輪,ネックレスなんでもご相談ください。">
	<meta name="author"      content="Daichi Miyajima">
	<meta property="og:title" content="MoonArt" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://moonart-craft.com" />
	<meta property="og:image" content="http://moonart-craft.com/public/image/moonart-craft.jpeg" />
	<meta property="og:site_name" content="MoonArt" />
	<meta property="og:description" content="MoonArtでは、オーダーメイドで世界に一つだけの指輪を作ります。結婚指輪,婚約指輪,ネックレスなんでもご相談ください。" />
	<title>MoonArt：オーダーメイドで世界に一つの指輪を作ります。</title>
	<link rel="canonical" href="http://moonart-craft.com/" />
	<link rel="shortcut icon" href="../public/image/BlueMoon.png">
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="../public/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../public/assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../public/assets/css/font.css">
	<link rel="stylesheet" href="../public/stylesheets/style.css">
	<link rel="stylesheet" href="../public/stylesheets/index.mingrid.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="../public/assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="../public/assets/css/main.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="../public/javascripts/commonhtml.js"></script>
	<script src="../public/javascripts/analyticstracking.js"></script>
</head>
<body class="home">	
<!-- Header -->
	<div id="header"></div>
<!-- /Header -->

	<div class="index">
			<!-- /Image_Ring -->
			<img src="../public/image/DSC00266.JPG" class="img-responsive　center-block" alt="オーダーメイド,指輪">
			<!-- /Application button -->
			<div id="animation" class="container text-center">
				<h1 class=" top-space myFontClass">世界にひとつだけの結婚指輪</h1>
						<p>MoonArtではお客様の要望を聞き、</p>
						<p>お客様に合うアクセサリーをお作りします。</p>
						<p>MoonArtでは仲介を通さないため、</p>
						<p>安く指輪等のジェエリーを作成することができます。</p>
						<p>目安としては、市場の60%の金額で作成させていただきます。</p>
						<p>材料の原価に等しい金額でお作りすることを約束します。</p>
						<p>オリジナルのジュエリーをお楽しみいただけます。</p>
				<!-- Animation-start -->
				<div style="" class="youtube2">	
					<iframe id="html5fadef91cf63f6f3badd5118db4d859bb5bc53ec8c324" src="../html5/fadef91cf63f6f3badd5118db4d859bb5bc53ec8c324/responsive.html" width="100%" height="400" frameborder="0" scrolling="no" allowTransparency="true"></iframe>
				</div>
				<!-- Animation-end -->
			</div>
	</div>

	<div class="demo">
		<div class="cards">
			<a id="work" href="./work">
				<div class="card">
					<div class="card-wrapper">
						<div class="card-image">
						  <img src="../public/image/ring4.png" alt="オーダーメイド作品,指輪"/>
						</div>
						<div class="card-info">
							作品一覧
						</div>
					</div>
				</div>
			</a>
			
			<a id="moonart" href="./moonart">
				<div class="card">
					<div class="card-wrapper">
						<div class="card-image">
						  <img src="https://s-media-cache-ak0.pinimg.com/236x/2a/30/13/2a3013448eb806e51da5de96eb38cf36.jpg" alt="オーダーメイド,MoonArt"/>
						</div>
						<div class="card-info">
							Moon Artについて
						</div>
					</div>
				</div>
			</a>
			
			<div class="card">
				<div class="card-wrapper">
					<div class="card-image">
					  <img src="https://s-media-cache-ak0.pinimg.com/236x/a7/51/a9/a751a9a163c76ea37eba4747c35d1940.jpg" alt="依頼方法,MoonArt"/>
					</div>
					<div class="card-info">
						依頼方法
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-wrapper">
					<div class="card-image">
					  <img src="https://s-media-cache-ak0.pinimg.com/236x/2a/30/13/2a3013448eb806e51da5de96eb38cf36.jpg" alt="問い合わせ,MoonArt"/>
					</div>
					<div class="card-info">
						問い合わせ
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- footer -->
	<div id="footer"></div>
<!-- /footer -->

	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="../public/assets/js/headroom.min.js"></script>
	<script src="../public/assets/js/jQuery.headroom.min.js"></script>
	<script src="../public/assets/js/template.js"></script>
	<script src="../public/javascripts/lib/animatedModal.min.js"></script>
	<script src="../public/javascripts/makeown.js"></script>
	<script type="text/javascript">
		writeHeader();
		writeFooter();
	</script>
	<script src="../public/javascripts/index.js"></script>
</body>
</html>
