<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="指輪,オーダーメイド,世界で一つ,宝石,結婚指輪,婚約指輪,MoonArt">
	<meta name="description" content="MoonArtでは、オーダーメイドで世界に一つだけの指輪を作ります。">
	<meta name="author"      content="Daichi Miyajima">
	<meta property="og:title" content="MoonArt" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://moonart-craft.com" />
	<meta property="og:image" content="http://moonart-craft.com/public/image/moonart-craft.jpeg" />
	<meta property="og:site_name" content="MoonArt" />
	<meta property="og:description" content="MoonArtでは、オーダーメイドで世界に一つだけの指輪を作ります。" />
	<title>MoonArt：オーダーメイドで指輪,結婚指輪,婚約指輪作成</title>
	<link rel="canonical" href="http://moonart-craft.com/moonart/" />
	<link rel="shortcut icon" href="../public/image/BlueMoon.png">
	<link rel="stylesheet" href="../public/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../public/assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../public/assets/css/font.css">
	<link rel="stylesheet" href="../public/stylesheets/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="../public/assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="../public/assets/css/main.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="../public/javascripts/commonhtml.js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-75313503-1', 'auto');
		ga('send', 'pageview');
	</script>
</head>
<body class="home">	
<!-- Header -->
	<div id="header"></div>
<!-- /Header -->

	<div class="index" style="margin-top:100px">
		<!-- /Image_Ring -->
		<img src="../public/image/topImage.JPG" class="img-responsive　center-block" alt="...">
		<div class="container text-center">
			<h2 class=" top-space myFontClass">About MoonArt</h2>
			<p>MoonArtでは宝石に関わるすべてのことをお手伝いします。作成・リフォーム・修理等なんでもご相談ください。</p>
			<p>MoonArtが作った宝石はドバイ等の高級宝石店で取り扱われてます。</p>
			<p>30年以上指輪,結婚指輪,婚約指輪,ネックレス,etc.多くの商品を作成している実績があります。</p>
		</div>
		<!-- Highlights - jumbotron -->
		<div id="moonartmake" class="jumbotron top-space">
			<div class="container" style="text-align: center;">
				<h2 class="text-center thin christophariibold" style="font-size: 60px;">Made to Order</h2>
				<p>オーダーメイドは世界に一つの指輪・ネックレス・etc...を皆様の要望に沿って作成していきます。</p>
				<p>自分・大切な人のためだけの宝石を作らせていただきます。</p>
				
				<hr class="border" width="100%"></hr>
				
				<div class="container">
				<h3 class="text-center thin">オーダーメイドの手順</h3>
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-6" style="max-height: 390px;min-height:390px">
						<div class="h-caption2"><h4>1.ヒアリング</h4>
							<img id="img_explanation" src="../public/image/moonart_hearing.png" alt="結婚指輪,指輪指輪,指輪,オーダーメイド,MoonArt"/>
						</div>
						<div class="h-body text-center">
							<p>どのようなアクセサリーを作りたいか詳細に確認させていただきます。参考画像や要望をお伝えください。どのくらいの金額で作成したいかも当段階で確認させていただきます。</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6" style="max-height: 390px;min-height:390px">
						<div class="h-caption2"><h4>2.設計</h4>
							<img id="img_explanation" src="../public/image/moonart_design.png" alt="結婚指輪,指輪指輪,指輪,オーダーメイド,MoonArt"/>
						</div>
						<div class="h-body text-center">
							<p>要望を伺い、要望を設計にしていきます。お客様自体で設計をしていただいても問題ありません。設計内容を都度お客様に確認していただくので、ご安心いただけます。</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6" style="max-height: 390px;min-height:390px">
						<div class="h-caption2"><h4>3.調整</h4>
							<img id="img_explanation" src="../public/image/moonart_schedule.png" alt="結婚指輪,指輪指輪,指輪,オーダーメイド,MoonArt"/>
						</div>
						<div class="h-body text-center">
							<p>設計確定後、スケジュール・金額を決めさせていただきます。金額等を確認していただいて、ダイヤや素材の調整をすることもできます。</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6" style="max-height: 390px;min-height:390px">
						<div class="h-caption2"><h4>4.作成</h4>
							<img id="img_explanation" src="../public/image/moonart_make.png" alt="結婚指輪,指輪指輪,指輪,オーダーメイド,MoonArt"/>
						</div>
						<div class="h-body text-center">
							<p>調整が完了しましたら、すぐに作成に移ります。お客様が安心できるよう作成途中段階をお客様に都度確認していただきます。</p>
						</div>
					</div>
				</div> <!-- /row  -->
			</div>
			</div>
		</div>
<!--
		<div id="moonartreform" class="jumbotron top-space">
			<div class="container" style="text-align: center;">
				<h2 class="text-center thin christophariibold" style="font-size: 60px;">Reform</h2>
				<p>オーダーメイドは世界に一つの指輪・ネックレス・etc...を皆様の要望に沿って作成していきます。</p>
				<p>自分・大切な人のためだけの宝石を作らせていただきます。</p>
				
				<hr class="border" width="100%"></hr>
				
				<div class="container">
				<h3 class="text-center thin">オーダーメイドの手順</h3>
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-6" style="max-height: 390px;min-height:390px">
						<div class="h-caption"><h4>1.ヒアリング</h4>
							<img id="img_explanation" src="../public/image/moonart_hearing.png" alt="結婚指輪,指輪指輪,指輪,リフォーム,MoonArt"/>
						</div>
						<div class="h-body text-center">
							<p>どのようなアクセサリーを作りたいか詳細に確認させていただきます。参考画像や要望をお伝えください。どのくらいの金額で作成したいかも当段階で確認させていただきます。</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6" style="max-height: 390px;min-height:390px">
						<div class="h-caption"><h4>2.設計</h4>
							<img id="img_explanation" src="../public/image/moonart_design.png" alt="結婚指輪,指輪指輪,指輪,リフォーム,MoonArt"/>
						</div>
						<div class="h-body text-center">
							<p>要望を伺い、要望を設計にしていきます。お客様自体で設計をしていただいても問題ありません。設計結果を都度お客様に確認していただきます。</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6" style="max-height: 390px;min-height:390px">
						<div class="h-caption"><h4>3.調整</h4>
							<img id="img_explanation" src="../public/image/moonart_schedule.png" alt="結婚指輪,指輪指輪,指輪,リフォーム,MoonArt"/>
						</div>
						<div class="h-body text-center">
							<p>設計確定後、スケジュール・金額を決めさせていただきます。金額等を確認していただいて、ダイヤや素材の調整をすることもできます。</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6" style="max-height: 390px;min-height:390px">
						<div class="h-caption"><h4>4.作成</h4>
							<img id="img_explanation" src="../public/image/moonart_make.png" alt="結婚指輪,指輪指輪,指輪,リフォーム,MoonArt"/>
						</div>
						<div class="h-body text-center">
							<p>調整が完了しましたら、すぐに作成に移ります。お客様が安心できるよう作成途中段階をお客様に都度確認していただきます。</p>
						</div>
					</div>
				</div> 
			</div>
			</div>
		</div>
		
		<div id="moonartrepair" class="jumbotron top-space">
			<div class="container" style="text-align: center;">
				<h2 class="text-center thin christophariibold" style="font-size: 60px;">Repair</h2>
				<p>オーダーメイドは世界に一つの指輪・ネックレス・etc...を皆様の要望に沿って作成していきます。</p>
				<p>自分・大切な人のためだけの宝石を作らせていただきます。</p>
				
				<hr class="border" width="100%"></hr>
				
				<div class="container">
				<h3 class="text-center thin">オーダーメイドの手順</h3>
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-6" style="max-height: 390px;min-height:390px">
						<div class="h-caption2"><h4>1.ヒアリング</h4>
							<img id="img_explanation" src="../public/image/moonart_hearing.png" alt="結婚指輪,指輪指輪,指輪,修理,MoonArt"/>
						</div>
						<div class="h-body text-center">
							<p>どのようなアクセサリーを作りたいか詳細に確認させていただきます。参考画像や要望をお伝えください。どのくらいの金額で作成したいかも当段階で確認させていただきます。</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6" style="max-height: 390px;min-height:390px">
						<div class="h-caption2"><h4>2.設計</h4>
							<img id="img_explanation" src="../public/image/moonart_design.png" alt="結婚指輪,指輪指輪,指輪,修理,MoonArt"/>
						</div>
						<div class="h-body text-center">
							<p>要望を伺い、要望を設計にしていきます。お客様自体で設計をしていただいても問題ありません。設計結果を都度お客様に確認していただきます。</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6" style="max-height: 390px;min-height:390px">
						<div class="h-caption2"><h4>3.調整</h4>
							<img id="img_explanation" src="../public/image/moonart_schedule.png" alt="結婚指輪,指輪指輪,指輪,修理,MoonArt"/>
						</div>
						<div class="h-body text-center">
							<p>設計確定後、スケジュール・金額を決めさせていただきます。金額等を確認していただいて、ダイヤや素材の調整をすることもできます。</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6" style="max-height: 390px;min-height:390px">
						<div class="h-caption2"><h4>4.作成</h4>
							<img id="img_explanation" src="../public/image/moonart_make.png" alt="結婚指輪,指輪指輪,指輪,修理,MoonArt"/>
						</div>
						<div class="h-body text-center">
							<p>調整が完了しましたら、すぐに作成に移ります。お客様が安心できるよう作成途中段階をお客様に都度確認していただきます。</p>
						</div>
					</div>
				</div> 
			</div>
			</div>
		</div>
-->
	</div>

<!-- footer -->
	<div id="footer" style="margin-top: -60px;"></div>
<!-- /footer -->

	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="../public/assets/js/headroom.min.js"></script>
	<script src="../public/assets/js/jQuery.headroom.min.js"></script>
	<script src="../public/assets/js/template.js"></script>
	<script src="../public/javascripts/lib/animatedModal.min.js"></script>
	<script src="../public/javascripts/makeown.js"></script>
	<script type="text/javascript">
		writeHeader();
		writeFooter();
	</script>
</body>
</html>
